$red: #ff5757;
$fade-blue: #7cacd4; //menu background
$white-blue: #eff5f9; //slider background
$slider-points-color: #7dabd1;
$blue: #87c8f3; //tarifs background
$deep-blue: #56b2ed;
$bright-blue: #7fccf7;
$font-grey: #464646;