.advantages {
	padding: 90px 0 95px 0;
	h2 {
		text-align: center;
	}
	&__items {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: flex;
		padding: 0 67px;
		border-right: 1px solid #d6dce1;
		max-width: 220px;
		flex-shrink: 0;
		color: rgba(38, 38, 38, 0.9);
		&:last-child {
			padding-right: 0;
			border-right: none;
		}
		&:first-child {
			padding-left: 0;
		}
		&-text {
			font-size: 16px;
			display: inline-block;
		}
		&-img {
			margin-right: 15px;
			flex-shrink: 0;
			background-size: cover!important;
			&.img1 {
				background: url(../../img/advantages-img1.png);
				width: 32px;
				height: 32px;
			}
			&.img2 {
				background: url(../../img/advantages-img2.png);
				width: 27px;
				height: 32px;
			}
			&.img3 {
				background: url(../../img/advantages-img3.png);
				width: 32px;
				height: 32px;
			}
			&.img4 {
				background: url(../../img/advantages-img4.png);
				width: 33px;
				height: 31px
			}
		}
	}
}

@media (max-width: 1220px) {
	.advantages {
		padding: 90px 0 85px 0;
		&__items {
			margin-top: 0;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		&__item {
			margin-top: 60px;
			display: block;
			border-right: none;
			min-width: 170px;
			padding: 0;
			&-text {
				width: 100%;
				line-height: 1.3;
				margin-top: 35px;
				text-align: center;
			}
			&-img {
				margin: auto;
			}
		}
	}
}

@media (max-width: 1024px) {
	.advantages {
		padding: 90px 0 85px 0;
	}
}

@media (min-width: 500px) and (max-width: 767px) {
	.advantages {
		&__item {
			max-width: 280px;
			&-text {
				font-size: 28px;
				br {
					display: none;
				}
			}
			&-img {
				&.img1 {
					width: 70px;
					height: 70px;
				}
				&.img2 {
					width: 59px;
					height: 70px;
				}
				&.img3 {
					width: 70px;
					height: 70px;
				}
				&.img4 {
					width: 73px;
					height: 70px;
				}
			}
		}
	}
}

@media (max-width: 375px) {
	.advantages__item {
		&-text {
			font-size: 20px;
		}
		&-img {
			&.img1 {
					width: 50px;
					height: 50px;
				}
				&.img2 {
					width: 42px;
					height: 50px;
				}
				&.img3 {
					width: 50px;
					height: 50px;
				}
				&.img4 {
					width: 52px;
					height: 50px;
				}
		}
	}
}