.menu {
	background-color: $fade-blue;
	padding: 5px 0;
	color: white;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 1024px) {
	.menu {
		font-size: 10px;
		.button {
			font-size: 10px;
			padding: 10px 6px;	
			min-height: 35px;		
		}
	}
}

@media (max-width: 767px) {
	.menu {
		display: none;
	}
}